<p *ngIf="!this.selectedTicket" class="p-2 text-center text-2xl">
  Chọn phiếu lô tô
</p>

<div
  *ngIf="this.selectedTicket"
  class="flex flex-col items-center justify-center text-white"
>
  <p>Số đã trúng:</p>
  <div class="flex h-1/2 w-1/2 flex-row gap-1">
    <p *ngFor="let number of winning_numbers">
      {{ number | number: "2.0-0" }},
    </p>
  </div>
</div>
<div
  *ngIf="!this.selectedTicket"
  class="flex flex-wrap items-center justify-center gap-2"
>
  <button
    *ngFor="let ticket of this.tickets"
    class="w-1/5 rounded border-2 border-black p-2 text-white"
    type="submit"
    (click)="onSelectedTicket(ticket.ticket_id)"
    [ngStyle]="{ 'background-color': ticket.ticket_color }"
  >
    {{ ticket.ticket_name }}
  </button>
</div>

<div *ngIf="ticket_data && ticket_data.length > 0">
  <button
    (click)="backToSelectTicket()"
    class="absolute w-auto rounded border-2 border-violet-600 bg-violet-600 p-2 hover:text-white"
  >
    Quay lại
  </button>
  <div *ngIf="this.selectedTicket">
    <button
      (click)="findNumber()"
      class="absolute right-0 w-auto rounded border-2 border-violet-600 bg-violet-600 p-2 hover:text-white"
    >
      Dò số
    </button>
  </div>
  <p class="p-2 text-center text-2xl">Phiếu số {{ this.selectedTicket }}</p>

  <!-- thông tin chi tiết phiếu -->
  <!-- <div
    class="flex items-center justify-center gap-4"
    *ngFor="let array of ticket_data"
  >
    <div *ngFor="let number of array">
      <button
        *ngIf="number != 0"
        [ngClass]="{ 'exist ': isInWinningNumbers(number) }"
        (click)="addWinningNumber(number)"
        class="shadow-black-500/50 m-1 h-full rounded-full border-[3px] border-red-600 bg-amber-300 p-2 text-sm font-extrabold text-red-600 hover:shadow-xl"
      >
        {{ number | number: "2.0-0" }}
      </button>
    </div>
  </div> -->

  <div class="flex flex-row items-center justify-center">
    <table border="1" class="m-2 table-auto">
      <tr *ngFor="let array of this.ticket_data">
        <ng-container *ngFor="let number of array">
          <td
            class="border-2 border-black bg-white p-2 text-center text-lg text-black"
          >
            <button
              class="rounded-full hover:opacity-30"
              *ngIf="number != 0"
              [ngClass]="{
                'exist ': isInWinningNumbers(number)
              }"
              (click)="addWinningNumber(number)"
            >
              {{ number | number: "2.0-0" }}
            </button>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>
