<p *ngIf="!this.selectedTicket" class="p-2 text-center text-2xl">
  Chọn phiếu lô tô
</p>

<div
  *ngIf="this.selectedTicket"
  class="flex flex-col items-center justify-center text-white"
>
  <p>Số đã trúng:</p>
  <div class="">
    <span *ngFor="let number of winning_numbers">
      {{ number | number: "2.0-0" }},
    </span>
  </div>
</div>
<div
  *ngIf="!this.selectedTicket"
  class="flex flex-wrap items-center justify-center gap-2"
>
  <button
    *ngFor="let ticket of this.tickets"
    class="w-1/5 rounded border-2 border-black p-2 text-white"
    type="submit"
    (click)="onSelectedTicket(ticket.ticket_id)"
    [ngStyle]="{ 'background-color': ticket.ticket_color }"
  >
    {{ ticket.ticket_name }}
  </button>
</div>

<div *ngIf="ticket_data && ticket_data.length > 0">
  <button
    (click)="backToSelectTicket()"
    class="absolute w-auto rounded border p-2 hover:bg-violet-600"
  >
    Quay lại
  </button>
  <p class="p-2 text-center text-3xl">Phiếu số {{ this.selectedTicket }}</p>
  <div
    class="flex items-center justify-center gap-4"
    *ngFor="let array of ticket_data"
  >
    <div *ngFor="let number of array">
      <button
        [ngClass]="{ 'exist ': isInWinningNumbers(number) }"
        (click)="addWinningNumber(number)"
        class="shadow-black-500/50 m-1 rounded-full border-2 border-red-600 bg-amber-300 p-2 text-xs font-extrabold hover:shadow-xl"
      >
        {{ number | number: "2.0-0" }}
      </button>
    </div>
  </div>
</div>
