<button
  (click)="findNumber()"
  class="absolute left-0 w-auto rounded border-2 border-violet-600 bg-violet-600 p-2 hover:text-white"
>
  Dò số
</button>
<button
  (click)="reset()"
  class="absolute right-0 w-auto rounded border-2 border-violet-600 bg-violet-600 p-2 hover:text-white"
>
  Reset
</button>

<div class="flex flex-col items-center">
  <!-- button pause  -->
  <div class="flex flex-row">
    <button
      *ngIf="!audio.src || this.is_lotto_numbers.length == 0"
      [disabled]="this.is_lotto_numbers.length != 0"
      (click)="randomInLottoNumbers()"
      class="m-1 rounded-full bg-red-400 p-3 text-xl text-white hover:bg-red-500"
    >
      <!-- play -->
      Hô!
    </button>

    <button
      *ngIf="!this.audio.paused"
      [disabled]="!this.audio.src"
      (click)="pauseLotto()"
      class="m-1 rounded-full bg-red-400 p-3 text-xl text-white hover:bg-red-500"
    >
      <!-- stop -->
      ⏸ Dừng
    </button>

    <!-- resume  -->
    <button
      *ngIf="this.audio.paused"
      [disabled]="!this.audio.src"
      (click)="resumeLotto()"
      class="m-1 rounded-full bg-red-400 p-3 text-xl text-white hover:bg-red-500"
    >
      <!-- stop -->
      ▶️ Tiếp tục
    </button>
  </div>
  <div class="flex flex-row items-center">
    <span
      class="mr-5 rounded-full border-4 border-red-600 bg-amber-300 p-2 text-sm text-red-600 opacity-70"
      >{{ this.previousNumber() | number: "2.0-0" }}</span
    >
    <span
      class="rounded-full border-4 border-red-600 bg-amber-300 p-3 text-3xl text-red-600"
    >
      {{ displayNum | number: "2.0-0" }}
    </span>

    <span
      class="ml-5 rounded-full border-4 border-red-600 bg-amber-300 p-2 text-sm text-red-600 opacity-70"
      >...</span
    >
  </div>

  <div class="flex flex-row items-center justify-between">
    <table border="1" class="m-2 table-auto">
      <tr class="" *ngFor="let row of this.numbers">
        <ng-container *ngFor="let number of row">
          <td
            [ngClass]="{ exist: isInLottoNumbers(number) }"
            class="border-2 border-black p-2 text-center text-lg text-black"
          >
            <div class="flex flex-col">
              {{ number | number: "2.0-0" }}
            </div>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>

<audio *ngIf="audio" autoplay>
  <source [src]="audio.src" type="audio/webm" />
</audio>
